<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div ng-include="'partials/localization.html'"></div>
    <div ng-include="'partials/step_one/promotions_accordion.html'"></div>
    <div ng-include="'partials/step_one/messages.html'"></div>
    <div ng-include="'partials/step_one/booking_form.html'"></div>
    <div ng-include="'partials/step_one/shopping_cart.html'"></div>
    <div ng-include="'partials/step_one/result_list.html'"></div>
    <div ng-include="'partials/step_one/shopping_cart.html'"></div>

</body>
</html>